<form class="xl:space-y-5 space-y-2">
  <div class="flex xl:items-start items-center xl:flex-row flex-col xl:gap-5 gap-2">
    <input type="email" placeholder="Ваш email" />

    <button
      class="bg-primary rounded-main py-3 px-5 xl:h-[47px] h-9 text-dark-primary xl:font-bold font-normal text-base flex justify-center items-center"
    >
      Подписаться
    </button>
  </div>

  <div class="chexboxContainer">
    <div
      class="border border-primary rounded-main w-[25px] h-[25px] p-1 flex justify-center items-center chexbox relative"
    >
      <input
        class="absolute z-[1] w-full h-full opacity-0"
        name="conf"
        id="conf"
        type="checkbox"
      />
      <svg
        class="opacity-0 checkIcon transition-all"
        width="18"
        height="14"
        viewBox="0 0 18 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 1.41L6 13.41L0.5 7.91L1.91 6.5L6 10.58L16.59 0L18 1.41Z"
          fill="#FBE521"
        />
      </svg>
    </div>

    <label for="conf">
      Я соглашаюсь с
      <a class="underline" href="">Политикой конфиденциальности</a> и на
      получение e-mail-рассылки
    </label>
  </div>
</form>
