<section
  class="bg-dark-primary xl:px-0 px-[15px]"
>
  <div
    class="container-main mx-auto border-2 border-primary rounded-main xl:p-12 p-4"
  >
    <div
      class="max-w-[612px] flex flex-col items-center xl:gap-[74px] gap-8 mx-auto"
    >
      <p class="font-bold xl:text-5xl text-2xl text-center">
        Подписаться <br class="xl:hidden block" />
        на рассылку <br class="xl:hidden block" /> новостей и проектов
      </p>

      <load src="src/components/CardNotRegister/Newsletter/Form.html" />

      <load src="src/components/CardNotRegister/Newsletter/Socials.html" />
    </div>
  </div>
</section>
