<div class="space-y-5">
  <div class="pb-5 border-b border-white">
    <div class="flex items-center justify-between">
      <div class="flex items-center xl:gap-2.5 gap-[5.67px]">
        <p class="xl:text-base text-[15px]">Срок</p>
        <load src="src/components/Tooltip.html" />
      </div>

      <span class="xl:text-lg text-base font-bold text-right text-primary"
        >до 17.04.2023 г</span
      >
    </div>
  </div>

  <div class="pb-5 border-b border-white">
    <div class="flex items-center justify-between">
      <p class="xl:text-base text-[15px]">Процентная ставка:</p>

      <span class="xl:text-lg text-base font-bold text-right text-primary">1,5%</span>
    </div>
  </div>

  <div class="pb-5 border-b border-white">
    <div class="flex items-center justify-between">
      <div class="flex items-center xl:gap-2.5 gap-[5.67px]">
        <p class="xl:text-base text-[15px]">Валюта</p>
        <load src="src/components/Tooltip.html" />
      </div>

      <span class="xl:text-lg text-base font-bold text-right text-primary">₽</span>
    </div>
  </div>

  <div class="pb-5 border-b border-white">
    <div class="flex items-center justify-between">
      <div class="flex items-center xl:gap-2.5 gap-[5.67px]">
        <p class="xl:text-base text-[15px]">Период:</p>
        <load src="src/components/Tooltip.html" />
      </div>

      <span class="xl:text-lg text-base font-bold text-right text-primary"
        >12.02.2023 - 16.04.2025</span
      >
    </div>
  </div>
</div>
