<section class="container-main mx-auto flex justify-center items-center">
  <img
    class="w-full h-full object-cover xl:block hidden"
    src="notAuthBlockDesctop.png"
    alt="notAuthBlockDesctop"
  />

  <img
    class="w-full h-full object-cover xl:hidden block"
    src="notAuthBlockMobile.png"
    alt="notAuthBlockDesctop"
  />

  <div class="absolute flex flex-col items-center xl:gap-[47px] gap-[21px]">
    <p class="max-w-[987px] font-bold xl:text-5xl text-2xl text-center xl:leading-[57.6px] leading-[28.8px]">
      Пожалуйста, зарегистрируйтесь или войдите в систему,чтобы получить доступ
      к этой информации
    </p>

    <div class="flex xl:gap-5 gap-2">
      <button
        class="font-bold xl:text-base text-sm text-dark-primary py-3 px-5 xl:h-[47px] h-9 flex justify-center items-center rounded-main bg-primary"
      >
        Зарегестрироваться
      </button>

      <button
        class="font-bold px-5 xl:h-[47px] h-9 py-3 flex justify-center items-center border border-white rounded-main xl:text-base text-sm"
      >
        Войти
      </button>
    </div>
  </div>
</section>
