<section class="xl:pb-[74px] xl:pt-[74px] pb-[50px] pt-[9px] xl:bg-dark-secondary">
  <div class="container-main mx-auto xl:space-y-12 space-y-0 overflow-hidden">
    <h2 class="font-bold xl:text-5xl text-2xl">Активные проекты</h2>

    <div id="activeProjectSlider">
      <div class="swiper-wrapper py-4 xl:px-2">
        <load src="src/components/CardNotRegister/ActiveProject/Card.html" />
        <load src="src/components/CardNotRegister/ActiveProject/Card.html" />
        <load src="src/components/CardNotRegister/ActiveProject/Card.html" />
        <load src="src/components/CardNotRegister/ActiveProject/Card.html" />
        <load src="src/components/CardNotRegister/ActiveProject/Card.html" />
        <load src="src/components/CardNotRegister/ActiveProject/Card.html" />
      </div>
    </div>
  </div>
</section>
