<div class="flex xl:flex-row flex-col xl:gap-[116px] gap-4">
  <p
    class="xl:font-bold font-normal xl:text-xl text-sm flex-shrink-0 xl:w-[187px] w-full"
  >
    Финансовые показатели
  </p>

  <div class="space-y-6 w-full">
    <div class="containerInput">
      <label class="text-base font-bold" for="active2022"
        >Активы на 2022 год</label
      >

      <div class="max-w-[507px] flex w-full">
        <input
          id="active2022"
          name="active2022"
          placeholder="Сумма"
          type="number"
          min="1"
        />
        <load src="src/components/LoanRequestQuestionnaire/Form/CurrencySelect.html" />
      </div>
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="activeLastPeriod"
        >Активы на последний отчетный период</label
      >

      <div class="max-w-[507px] flex w-full">
        <input
          id="activeLastPeriod"
          name="activeLastPeriod"
          placeholder="Сумма"
          type="number"
          min="1"
        />
        <load src="src/components/LoanRequestQuestionnaire/Form/CurrencySelect.html" />
      </div>
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="obligations2022"
        >Обязательства на 2022 год</label
      >

      <div class="max-w-[507px] flex w-full">
        <input
          id="obligations2022"
          name="obligations2022"
          placeholder="Сумма"
          type="number"
          min="1"
        />
        <load src="src/components/LoanRequestQuestionnaire/Form/CurrencySelect.html" />
      </div>
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="obligationsLastPeriod"
        >Обязательства на последний отчетный период</label
      >

      <div class="max-w-[507px] flex w-full">
        <input
          id="obligationsLastPeriod"
          name="obligationsLastPeriod"
          placeholder="Сумма"
          type="number"
          min="1"
        />
        <load src="src/components/LoanRequestQuestionnaire/Form/CurrencySelect.html" />
      </div>
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="revenue2022"
        >Выручка за 2022 год</label
      >

      <div class="max-w-[507px] flex w-full">
        <input
          id="revenue2022"
          name="revenue2022"
          placeholder="Сумма"
          type="number"
          min="1"
        />
        <load src="src/components/LoanRequestQuestionnaire/Form/CurrencySelect.html" />
      </div>
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="revenue2023"
        >Выручка за 2023 год</label
      >

      <div class="max-w-[507px] flex w-full">
        <input
          id="revenue2023"
          name="revenue2023"
          placeholder="Сумма"
          type="number"
          min="1"
        />
        <load src="src/components/LoanRequestQuestionnaire/Form/CurrencySelect.html" />
      </div>
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="profit2022"
        >Прибыль за 2022 год</label
      >

      <div class="max-w-[507px] flex w-full">
        <input
          id="profit2022"
          name="profit2022"
          placeholder="Сумма"
          type="number"
          min="1"
        />
        <load src="src/components/LoanRequestQuestionnaire/Form/CurrencySelect.html" />
      </div>
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="profit2023"
        >Прибыль за 2023 год</label
      >

      <div class="max-w-[507px] flex w-full">
        <input
          id="profit2023"
          name="profit2023"
          placeholder="Сумма"
          type="number"
          min="1"
        />
        <load src="src/components/LoanRequestQuestionnaire/Form/CurrencySelect.html" />
      </div>
    </div>
  </div>
</div>
