<div class="flex xl:flex-row flex-col xl:gap-[116px] gap-4">
  <p
    class="xl:font-bold font-normal xl:text-xl text-sm flex-shrink-0 xl:w-[187px] w-full"
  >
    Паспортные данные
  </p>

  <div class="space-y-6 w-full">
    <div class="containerInput">
      <label class="text-base font-bold" for="FI">Фамилия Имя</label>

      <div class="space-y-1 max-w-[507px] w-full">
        <input
          id="FI"
          name="FI"
          placeholder="Antonov Anton"
          class=""
          type="text"
        />

        <p class="text-sm">латиницей как в паспорте</p>
      </div>
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="identificationNumber"
        >Идентификационный номер</label
      >

      <input
        id="identificationNumber"
        name="identificationNumber"
        placeholder="4131087B052PB4"
        class="max-w-[507px] w-full"
        type="text"
      />
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="gender">Пол</label>

      <input
        id="gender"
        name="gender"
        placeholder="Male"
        class="max-w-[507px] w-full"
        type="text"
      />
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="idPassport">Номер паспорта</label>

      <input
        id="idPassport"
        name="idPassport"
        placeholder="AB2876683"
        class="max-w-[507px] w-full"
        type="text"
      />
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="dateIssuanceAndIssued"
        >Дата выдачи и кем выдан</label
      >

      <input
        id="dateIssuanceAndIssued"
        name="dateIssuanceAndIssued"
        placeholder="18 сентября 2012 года, Пинским ГОВД Брестской области"
        class="max-w-[507px] w-full"
        type="text"
      />
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="dateBirth">Дата рождения</label>

      <input
        id="dateBirth"
        name="dateBirth"
        placeholder="20 октября 2018 года"
        class="max-w-[507px] w-full"
        type="text"
      />
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="placeBirth">
        <p>Место рождения</p>

        <p class="font-normal text-sm">(населенный пункт, страна)</p>
      </label>

      <input
        id="placeBirth"
        name="placeBirth"
        placeholder="г. Пинск, Брестская область"
        class="max-w-[507px] w-full"
        type="text"
      />
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="citizenship">Гражданство</label>

      <input
        id="citizenship"
        name="citizenship"
        placeholder="Беларусь"
        class="max-w-[507px] w-full"
        type="text"
      />
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="location">
        <p>Место жительства</p>

        <p class="font-normal text-sm">(согласно прописке в паспорте)</p>
      </label>

      <input
        id="location"
        name="location"
        placeholder="г. Пинск, ул. Строителей, д. 53"
        class="max-w-[507px] w-full"
        type="text"
      />
    </div>

    <div class="containerInput">
        <label class="text-base font-bold" for="residence">
          <p>Место прибывания</p>
  
          <p class="font-normal text-sm">(если отличается от места жительства)</p>
        </label>
  
        <input
          id="residence"
          name="residence"
          placeholder="г. Минск, ул. Фрунзенская, 63, кв.8"
          class="max-w-[507px] w-full"
          type="text"
        />
      </div>
  </div>
</div>
