<div class="flex xl:flex-row flex-col xl:gap-[116px] gap-0 xl:mt-16 mt-8">
  <div class="flex-shrink-0 min-w-[187px] xl:block hidden">&nbsp;</div>

  <div class="flex gap-4">
    <button
      type="submit"
      class="bg-primary px-5 py-3 rounded-main flex xl:w-[155px] w-full justify-center items-center xl:h-[47px] h-9 xl:font-bold font-normal text-dark-primary"
    >
      Сохранить
    </button>

    <button
      type="reset"
      class="border border-white px-5 py-3 rounded-main flex xl:w-[155px] w-full justify-center items-center xl:h-[47px] h-9 xl:font-bold font-normal"
    >
      Очистить
    </button>
  </div>
</div>
