<div class="flex xl:flex-row flex-col xl:gap-[116px] gap-4">
  <div class="flex-shrink-0 xl:w-[187px] w-full space-y-2.5">
    <p class="xl:font-bold font-normal xl:text-xl text-sm">
      Контактная информация
    </p>

    <p class="xl:text-base text-sm">если у вас нет профиля, поставьте "-"</p>
  </div>

  <div class="space-y-6 w-full">
    <div class="containerInput">
      <label class="text-base font-bold" for="vkontakteUrl"
        >Vkontakte<br /><span class="text-sm font-normal">(ссылка)</span></label
      >

      <input
        id="vkontakteUrl"
        name="vkontakteUrl"
        class="max-w-[507px] w-full"
        type="text"
      />
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="facebookUrl"
        >Facebook<br /><span class="text-sm font-normal">(ссылка)</span></label
      >

      <input
        id="facebookUrl"
        name="facebookUrl"
        class="max-w-[507px] w-full"
        type="text"
      />
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="instagramUrl"
        >Instagram<br /><span class="text-sm font-normal">(ссылка)</span></label
      >

      <input
        id="instagramUrl"
        name="instagramUrl"
        class="max-w-[507px] w-full"
        type="text"
      />
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="telegramUrl"
        >Telegram<br /><span class="text-sm font-normal">(ссылка)</span></label
      >

      <input
        id="telegramUrl"
        name="telegramUrl"
        class="max-w-[507px] w-full"
        type="text"
      />
    </div>

    <div class="containerInput">
      <label class="text-base font-bold" for="okUrl"
        >Одноклассники<br /><span class="text-sm font-normal">(ссылка)</span></label
      >

      <input
        id="okUrl"
        name="okUrl"
        class="max-w-[507px] w-full"
        type="text"
      />
    </div>
  </div>
</div>
