<div class="flex xl:gap-12 gap-2 xl:flex-row flex-col xl:items-center items-start">
  <div class="flex items-center gap-2">
    <div
      class="border border-primary w-[25px] h-[25px] rounded-full flex justify-center items-center radioButton relative"
    >
      <div
        class="bg-primary transition-all duration-300 rounded-full w-[19px] h-[19px] checkedRadioButton opacity-0 active"
      >
        &nbsp;
      </div>
      <input type="radio" value="investment" id="investment" checked name="target" class="w-full h-full absolute opacity-0" />
    </div>

    <label for="investment" class="xl:text-base text-sm">Хочу инвестировать</label>
  </div>

  <div class="flex items-center gap-2">
    <div
      class="border border-primary w-[25px] h-[25px] rounded-full flex justify-center items-center radioButton relative"
    >
      <div
        class="bg-primary transition-all duration-300 rounded-full w-[19px] h-[19px] checkedRadioButton opacity-0"
      >
        &nbsp;
      </div>
      <input type="radio" value="borrowMoney" id="borrowMoney" name="target" class="w-full h-full absolute opacity-0" />
    </div>

    <label for="borrowMoney" class="xl:text-base text-sm">Хочу занять деньги на проект</label>
  </div>
</div>
