<footer class="bg-dark-secondary">
  <div
    class="xl:pt-[132px] xl:pb-[120px] pt-8 pb-8 container-main mx-auto flex xl:gap-[98.78px] gap-8"
  >
    <a class="xl:block hidden" href="/">
      <svg
        width="97"
        height="82"
        viewBox="0 0 97 82"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M96.2225 81.3074C88.7573 81.3074 81.4797 81.2829 74.2022 81.3258C72.4063 81.3381 72.619 80.1252 72.4814 79.047C71.1673 68.3392 69.8532 57.6313 68.5266 46.8806C67.2876 46.8683 67.0811 47.9403 66.593 48.6142C60.8736 56.5042 55.1291 64.3819 49.5224 72.3515C48.3084 74.079 47.8015 74.0974 46.5938 72.3699C41.4251 64.9761 36.1187 57.6681 30.8623 50.3294C30.0363 49.1777 29.1915 48.0383 28.4218 46.9908C27.4707 47.1562 27.552 47.7382 27.4957 48.2099C26.2129 58.5195 24.9176 68.8292 23.7036 79.145C23.541 80.5111 23.4471 81.3809 21.6387 81.3564C14.5613 81.2584 7.47779 81.3197 0 81.3197C4.54299 54.305 9.05469 27.4925 13.6853 0C17.6088 7.38769 21.307 14.0832 25.5684 20.4601C29.2791 26.01 33.2527 31.3517 38.1962 35.9583C45.1921 42.4823 50.4234 42.6844 57.482 36.3259C66.3427 28.344 72.2623 18.2487 78.0944 8.1289C79.5023 5.69084 80.8039 3.19153 82.531 0.0306261C87.1616 27.5231 91.667 54.2866 96.2225 81.3197V81.3074Z"
          fill="#FBE521"
        />
        <path
          d="M47.7933 12.0569C50.5654 12.0263 52.5491 13.913 52.5178 16.5716C52.4928 19.0525 50.5154 20.9883 47.9748 21.0312C45.4029 21.0802 43.1189 18.8994 43.1627 16.4368C43.2065 14.0478 45.284 12.0814 47.7933 12.0508V12.0569Z"
          fill="#FBE521"
        />
      </svg>
    </a>

    <div class="grid xl:grid-cols-3 grid-cols-1 xl:gap-[68px] gap-2">
      <nav class="xl:space-y-9 menuMobileFooter">
        <button class="flex items-center gap-2">
          <p
            class="xl:font-black font-normal xl:text-[26px] text-[15px] xl:leading-[24.05px] leading-[21px]"
          >
            Прозрачность
          </p>

          <span class="xl:hidden block px-1.5 py-2">
            <svg
              width="12"
              class="transition-all duration-300"
              height="8"
              viewBox="0 0 12 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.41 0.580078L6 5.17008L10.59 0.580078L12 2.00008L6 8.00008L0 2.00008L1.41 0.580078Z"
                fill="white"
              />
            </svg>
          </span>
        </button>

        <div
          class="xl:h-auto xl:block grid grid-rows-0 overflow-hidden transition-all menuList duration-500"
        >
          <ul class="xl:space-y-3 space-y-1 min-h-0">
            <li>
              <a href="">О нас</a>
            </li>

            <li>
              <a href="">F.A.Q.</a>
            </li>

            <li>
              <a href="">База знаний малимон</a>
            </li>

            <li>
              <a href="">Мы ценим ваши отзывы!</a>
            </li>

            <li>
              <a href="">Рекомендуемые оценщики свойств</a>
            </li>

            <li>
              <a href="">Мы ценим ваши отзывы!</a>
            </li>

            <li>
              <a href="">Реферальная программа</a>
            </li>
          </ul>
        </div>
      </nav>

      <nav class="xl:space-y-9 menuMobileFooter">
        <button class="flex items-center gap-2">
          <p
            class="xl:font-black font-normal xl:text-[26px] text-[15px] xl:leading-[24.05px] leading-[21px]"
          >
            Документы
          </p>

          <span class="xl:hidden block px-1.5 py-2">
            <svg
              class="transition-all duration-300"
              width="12"
              height="8"
              viewBox="0 0 12 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.41 0.580078L6 5.17008L10.59 0.580078L12 2.00008L6 8.00008L0 2.00008L1.41 0.580078Z"
                fill="white"
              />
            </svg>
          </span>
        </button>

        <div
          class="xl:h-auto xl:block grid grid-rows-0 overflow-hidden transition-all menuList duration-500"
        >
          <ul class="xl:space-y-3 space-y-1 min-h-0">
            <li>
              <a href="">О нас</a>
            </li>

            <li>
              <a href="">Политика конфиденциальности Оператора сервиса</a>
            </li>

            <li>
              <a href=""
                >Политика конфиденциальности для Получателей Контента Прямого
                маркетинга</a
              >
            </li>

            <li>
              <a href="">Реферальная программа</a>
            </li>

            <li>
              <a href="">База знаний малимон</a>
            </li>

            <li>
              <a href="">База знаний малимон</a>
            </li>

            <li>
              <a href="">База знаний малимон</a>
            </li>

            <li>
              <a href="">Мы ценим ваши отзывы!</a>
            </li>

            <li>
              <a href="">Реферальная программа</a>
            </li>
          </ul>
        </div>
      </nav>

      <nav class="xl:space-y-9 menuMobileFooter">
        <button class="flex items-center gap-2">
          <p
            class="xl:font-black font-normal xl:text-[26px] text-[15px] xl:leading-[24.05px] leading-[21px]"
          >
            Новости
          </p>

          <span class="xl:hidden block px-1.5 py-2">
            <svg
              class="transition-all duration-300"
              width="12"
              height="8"
              viewBox="0 0 12 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.41 0.580078L6 5.17008L10.59 0.580078L12 2.00008L6 8.00008L0 2.00008L1.41 0.580078Z"
                fill="white"
              />
            </svg>
          </span>
        </button>

        <div
          class="xl:h-auto xl:block grid grid-rows-0 overflow-hidden transition-all menuList duration-500"
        >
          <ul class="xl:space-y-3 space-y-1 min-h-0">
            <li>
              <a href="">База знаний малимон</a>
            </li>

            <li>
              <a href="">Мы ценим ваши отзывы!</a>
            </li>

            <li>
              <a href="">База знаний малимон</a>
            </li>

            <li>
              <a href="">Реферальная программа</a>
            </li>

            <li>
              <a href="">Реферальная программа</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="h-0.5 w-full bg-primary xl:px-0 px-[15px]"></div>

  <div
    class="xl:pb-[67px] pb-8 xl:pt-[120px] pt-8 flex gap-[98.78px] container-main mx-auto"
  >
    <div class="xl:block hidden min-w-[97px]">&nbsp;</div>

    <div class="xl:space-y-6 space-y-8">
      <p class="xl:text-base text-sm">
        Оператор краудфандинговой платформы UAB Nordstreet | Код компании:
        304565690 Адрес: пр. Конституции 26, Литва Почтовый индекс: LT-08106
        Наша деятельность регулируется и контролируется: Банком Литвы:
        188607684 Адрес: пр. Гедимино 6, LT-01103 Вильнюс. | Бесплатная
        информационная линия 8 800 50 500, факс. (8 5) 268 0038, эл. Электронная
        почта: info@lb.lt ЗАО «Нордстрит» включено в Публичный список Операторов
        Платформ Концентрированного финансирования. управляется банком Литвы.
        Процедура разрешения споров между Потребителями и участниками
        финансового рынка банка Литвы. Платёжный оператор UAB Paysera LT |
        Код компании: 300060819 Адрес: пр. Пилайтес 16, Вильнюс, Литва |
        Почтовый индекс: LT-04352
      </p>

      <p class="font-bold xl:text-lg text-sm text-primary">
        Malimon - это краудфандинговая платформа (платформа краудлендинга),
        которая помогает расширять возможности инвестирования и пассивного
        дохода, не выходя из дома. Отныне инвестиции доступны каждому: у каждого
        есть возможность выбрать проект недвижимости или бизнес-кредит с залогом
        недвижимости и инвестировать выбранную сумму всего в 50 евро. Nordstreet
        предоставляет инвесторам всю информацию о проектах, цели
        бизнес-кредитов, их рисках, гарантиях и недвижимости, которую
        они предлагают и описывают в проекте, что также является гарантией
        безопасности средств инвесторов. На платформе представлены только
        тщательно протестированные и проанализированные проекты. Пожалуйста,
        обратите внимание, что, хотя платформа принимает все возможные меры
        для снижения риска инвесторов, именно инвесторы берут на себя риск того,
        что некоторые или все средства для конкретного проекта могут не быть
        возвращены. Страховая защита, установленная в Законе о страховании
        вкладов и обязательств перед инвесторами Республики
      </p>
    </div>
  </div>
</footer>
