<nav
  class="grid xl:grid-cols-4 grid-cols-2 xl:gap-x-[70.66px] gap-x-[30px] xl:text-base text-sm"
>
  <a
    class="py-3 font-bold current xl:px-5 px-2 border-b text-center border-center item-nav-setting-profile"
    href=""
  >
    <span class="xl:inline hidden">Основная информация</span>
    <span class="xl:hidden inline">Основная инф-ия</span>
  </a>

  <a class="py-3 font-bold xl:px-5 px-2 border-b text-center border-center" href="">
    Анкета
  </a>

  <a class="py-3 font-bold xl:px-5 px-2 border-b text-center border-center" href="">
    <span class="xl:inline hidden">Банковские реквизиты</span>
    <span class="xl:hidden inline">Банковские рек-ты</span>
  </a>

  <a class="py-3 font-bold xl:px-5 px-2 border-b text-center border-center" href="">
    Мои инвестиции
  </a>
</nav>
