<section id="accardionBlock" class="xl:flex hidden">
  <div class="flex flex-col">
    <button
      type="button"
      data-quest="quest1"
      class="bg-dark-secondary text-white active rounded-l-main p-5 font-bold text-base text-left w-[273px] h-fit selectQuest transition-all"
    >
      Часто задаваемые<br />
      вопросы
    </button>

    <button
      type="button"
      data-quest="quest2"
      class="bg-dark-secondary text-white rounded-l-main p-5 font-bold text-base text-left w-[273px] h-fit selectQuest transition-all"
    >
      Часто задаваемые<br />
      вопросы2222
    </button>
  </div>

  <div
    id="quest1"
    class="bg-primary p-10 pt-5 rounded-r-main rounded-bl-main w-full hidden questAccardionContainer active justify-center items-center gap-5 flex-col"
  >
    <load src="src/components/placeALoan/Accardion/ItemAccardion.html" />
    <load src="src/components/placeALoan/Accardion/ItemAccardion.html" />
    <load src="src/components/placeALoan/Accardion/ItemAccardion.html" />
    <load src="src/components/placeALoan/Accardion/ItemAccardion.html" />
  </div>

  <div
    id="quest2"
    class="bg-primary p-10 pt-5 rounded-r-main rounded-bl-main w-full justify-center items-center gap-5 flex-col hidden questAccardionContainer"
  >
    <load src="src/components/placeALoan/Accardion/ItemAccardion.html" />
    <load src="src/components/placeALoan/Accardion/ItemAccardion.html" />
    <load src="src/components/placeALoan/Accardion/ItemAccardion.html" />
    <load src="src/components/placeALoan/Accardion/ItemAccardion.html" />
  </div>
</section>

<load src="src/components/placeALoan/Accardion/MobileAccardion.html" />
