<div class="containerAccardion xl:pb-2.5 pb-1 border-b border-dark-primary max-w-[661px] xl:pl-0 pl-2">
  <button class="flex items-center xl:gap-2.5 gap-2 buttonAccardion">
    <p class="xl:text-xl text-sm text-left font-bold text-dark-secondary">
      Какие проекты не принимаются к рассмотрению на malimon.by?
    </p>

    <span class="xl:w-6 w-4 xl:h-6 h-4 flex justify-center items-center">
      <svg
        class="transition-all duration-500 iconArrow"
        width="13"
        height="8"
        viewBox="0 0 13 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.91 0.580078L6.5 5.17008L11.09 0.580078L12.5 2.00008L6.5 8.00008L0.5 2.00008L1.91 0.580078Z"
          fill="#212020"
        />
      </svg>
    </span>
  </button>

  <div
    class="transition-all textAccardion duration-500 grid grid-rows-0 overflow-hidden mt-0"
  >
    <p class="text-dark-primary xl:text-base text-xs min-h-0">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus quis
      nihil sint corporis aspernatur voluptatum. Optio illo adipisci magni,
      dolorum eos distinctio hic. Iusto tempore omnis expedita ab. Mollitia nam
      explicabo blanditiis culpa non dolores, nostrum maiores ab unde commodi
      adipisci neque quaerat. Quo sunt quasi incidunt repellat optio,
      perspiciatis blanditiis animi accusamus, nulla dicta temporibus vel
      aspernatur quaerat provident!
    </p>
  </div>
</div>
