<div
  class="bg-primary containerItemQuestMobile w-full rounded-main p-2 pb-8 shadow-ItemQuestMobile"
>
  <button
    type="button"
    class="buttonQuestMobile flex items-center justify-between w-full"
  >
    <p class="font-bold text-sm text-dark-primary">Категория вопросов 6</p>

    <svg
      width="12"
      height="8"
      class="iconArrow transition-all duration-500"
      viewBox="0 0 12 8"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.41 0.580078L6 5.17008L10.59 0.580078L12 2.00008L6 8.00008L0 2.00008L1.41 0.580078Z"
        fill="#212020"
      />
    </svg>
  </button>

  <div
    class="mt-0 grid grid-rows-0 overflow-hidden containerAccardionMobile transition-all duration-500"
  >
    <div class="min-h-0 flex flex-col">
      <load src="src/components/placeALoan/Accardion/ItemAccardion.html" />
      <load src="src/components/placeALoan/Accardion/ItemAccardion.html" />
      <load src="src/components/placeALoan/Accardion/ItemAccardion.html" />
      <load src="src/components/placeALoan/Accardion/ItemAccardion.html" />
    </div>
  </div>
</div>
