<section id="accardionBlockMobile" class="space-y-8 xl:hidden block">
  <h2 class="font-bold text-2xl">Популярные вопросы</h2>

  <div class="*:-mb-3 first:mb-0">
    <load src="src/components/placeALoan/Accardion/ItemQuestMobile.html" />
    <load src="src/components/placeALoan/Accardion/ItemQuestMobile.html" />
    <load src="src/components/placeALoan/Accardion/ItemQuestMobile.html" />
    <load src="src/components/placeALoan/Accardion/ItemQuestMobile.html" />
    <load src="src/components/placeALoan/Accardion/ItemQuestMobile.html" />
    <load src="src/components/placeALoan/Accardion/ItemQuestMobile.html" />
  </div>
</section>
